<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Microposts</strong>
  <% @user.microposts.all.each do |micropost| %>
  <ul>
    <li><strong>ID:</strong> <%=micropost.id%>  <strong>Content:</strong> <%= micropost.content%></li>
  </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
